* {
  background: #000;
  font-family:Verdana;

  text-align:center;
  display:block;
  margin: auto;
}



.link {
  color:aquamarine;
  font-size:16px;
  text-decoration:underline;
}

#banner {
  font-weight:normal;
  font-size:50px;
  color:white;
}
